version: "3.9"

services:
  angular-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules        # Prevent node_modules override
    container_name: angular-dev
    command: npm run start