.profile-card {
    width: 300px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15) !important;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    max-width: 300px;  
    display: flex; 
    margin-left: 1180px;
    position: absolute; 
    right: 35px;
    top: 80px; 
}
